node_modules/
dist/
.env
.env.*
.DS_Store
*.log

# Unused Assets
assets/website files/02.png
assets/website files/1  30.mp4
assets/website files/1.png
assets/website files/2 30.mp4
assets/website files/adcdcd.png
assets/website files/ChatGPT Image Feb 12, 2026, 03_14_01 PM.png
assets/website files/ChatGPT Image Jan 29, 2026, 09_58_06 PM.png
assets/website files/ChatGPT Image Jan 29, 2026, 10_30_04 PM.png
assets/website files/ChatGPT Image Jan 30, 2026, 12_01_37 AM.png
assets/website files/ChatGPT Image Jan 30, 2026, 12_50_54 AM.png
assets/website files/ChatGPT Image Jan 31, 2026, 06_19_34 PM.png
assets/website files/ChatGPT Image Jan 31, 2026, 06_39_57 PM.png
assets/website files/ChatGPT Image Jan 31, 2026, 06_51_46 PM (1).png
assets/website files/ChatGPT Image Jan 31, 2026, 06_51_46 PM.png
assets/website files/Cinco Estrellas - Imagen gratis en Pixabay_upscayl_2x_ultramix_balanced (1).png
assets/website files/create-unity-horror-or-multiplayer-fps-game.png
assets/website files/DETAIL2.JPG
assets/website files/elevation1.JPG
assets/website files/enviroments.png
assets/website files/Freelancer_logo_og (1).png
assets/website files/jpg-02.jpg
assets/website files/mail-pictogram_764382-80620 (1).png
assets/website files/New Project (43)_upscayl_2x_ultramix_balanced (1).png
assets/website files/New Project (44)_upscayl_2x_ultramix_balanced (1).png
assets/website files/New Project (47)_upscayl_2x_ultramix_balanced (1).png
assets/website files/New Project (57).png
assets/website files/New Project (58).png
assets/website files/New Project (73).png
assets/website files/New Project (76) (1) (1).png
assets/website files/New Project (76) (1).png
assets/website files/New Project (77).png
assets/website files/New Project (80).png
assets/website files/New Project (81).png
assets/website files/New Project (82).png
assets/website files/New Project (83).png
assets/website files/New Project (84).png
assets/website files/New Project (86) (1).png
assets/website files/New Project (86).png
assets/website files/New Project (87).png
assets/website files/New Project (89).png
assets/website files/New Project (94)_upscayl_3x_ultramix_balanced.png
assets/website files/Option 01.jpg
assets/website files/Screenshot 2024-07-03 225750.png
assets/website files/Screenshot 2024-07-29 165750.png
assets/website files/Screenshot 2026-01-25 143224_upscayl_2x_ultramix_balanced (2).png
assets/website files/Screenshot_2024-10-22_034237.png
assets/website files/table.png
assets/website files/unity-3d-games.jpg
assets/website files/View 03.jpg
assets/website files/View 05.jpg
assets/website files/View Jpg 02.jpg
